.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #242424;
}

/* The 4x4 Grid */
.board-grid {
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(4, 100px);
  border: 4px solid #111;
}

.box {
  width: 100px;
  height: 100px;
}

.box.black {
  background-color: #1a1a1a;
}

.box.white {
  background-color: #e0e0e0;
}
